provider_installation {
  dev_overrides {
    "aliyun/alicloud" = "../terraform-provider-alicloud/bin/"
  }

  network_mirror {
    url = "https://mirrors.aliyun.com/terraform/"
    include = ["registry.terraform.io/aliyun/alicloud",
               "registry.terraform.io/hashicorp/alicloud",
              ]
  }

  direct {
    exclude = ["registry.terraform.io/aliyun/alicloud", 
               "registry.terraform.io/hashicorp/alicloud",
              ]
  }
}
